body {
    font-family: 'Arial', sans-serif;
    background-color: #3d3746;
    color: #333;
    margin: 0;
}

h1 {
    color: #ffffff; /* Cor do título */
}

h2{
    font-size: 35px;
}
p{
    font-size: 25px;
}

#form {
    padding: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bola1, .bola2, .bola3, .bola4 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.bola1 {
    background-color: #f700ff; /* Cor de fundo da bola, pode ser alterada */
}

.bola2 {
    background-color: #FF0308; /* Cor de fundo da bola, pode ser alterada */
}

.bola3 {
    background-color: #9900ff; /* Cor de fundo da bola, pode ser alterada */
}

.bola4 {
    background-color: #ffae00; /* Cor de fundo da bola, pode ser alterada */
}