* {
    font-family: 'Staatliches', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0E1130;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Impede que as bolas ultrapassem os limites da tela */
    position: relative; /* Adicionado para posicionar as bolas corretamente */
}

.ball {
    position: absolute;
    border-radius: 50%;
    animation: moveBall linear infinite;
}

.purple {
    background-color: #9d00ff89;
    top: 70%;
    left: 2%;
    width: 15vw;
    height: 15vw;
}

.red {
    background-color: #ff2600aa;
    top: 8%;
    left: 8%;
    width: 20vw;
    height: 20vw;
}

.blue {
    background-color: #0033ffb2;
    top: 2%;
    left: 70%;
    width: 18vw;
    height: 18vw;
}

.green {
    background-color: #23b521c2;
    top: 80%;
    left: 45%;
    width: 12vw;
    height: 12vw;
}

.yellow {
    background-color: #FFFF00;
    top: 70%;
    left: 80%;
    width: 20vw;
    height: 20vw;
}

.content {
    width: 80%;
    max-width: 300px;
    padding: 20px;
    border: 2px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 4vw;
    color: #fff;
    text-shadow: 0 0 10px #000, 0 0 20px #fff, 0 0 30px #000;
    margin-bottom: 20px;
}

button {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #0E1130;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
   }
   
button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
   }
   
button:hover::after {
    animation-play-state: running;
   }
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
button,
button::after {
    box-sizing: border-box;
   }
   
   button:active {
    --border-width: 5px;
   }

@media screen and (min-width: 768px) {
    .content {
        width: 50%;
        max-width: 400px;
    }

    h1 {
        font-size: 5vw;
    }

    button {
        font-size: 2vw;
    }
}