body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #333;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}
h1 {
    font-family: 'Staatliches', sans-serif;
    color: #fff;
}

h2{
    font-size: 30px;
}

p{
    font-size: 25px;
}

.p{
    padding: 20px;
    font-size: 15px;
    color: #fff;
    font-family: 'Staatliches', sans-serif;
}

.content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;    
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 38vh;
    width: 38vh;
}

button {
    border-style: none;
}

.bola1, .bola2, .bola3, .bola4 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.bola1 {
    background-color: #0838A1;
}

.bola2 {
    background-color: #00fff2; 
}

.bola3 {
    background-color: #003d0d; 
}

.bola4 {
    background-color: #000000; 
}

@media screen and (min-width: 380px) {
    img {
        height: 35vh;
        width: 35vh;
    }
}

@media screen and (min-width: 576px) {
    img {
        height: 45vh;
        width: 45vh;
    }
}

@media screen and (min-width: 992px) {
    img {
        height: 50vh;
        width: 50vh;
    }
}